$color-online : rgb(61, 221, 61);
$color-busy : rgb(255, 103, 103); 
$color-idle : rgb(255, 255, 121); 
$color-offline : rgb(221, 221, 221); 

$color-primary: rgb(3, 86, 107) ;
$color-light-primary: #82bfcf;

$color-secondary: rgb(130, 191, 207);
$color-light-secondary: rgb(117, 163, 175);

$color-error: rgb(144, 49, 49);
$color-dark-error: rgb(92, 1, 1);
$color-light-error: rgb(240, 68, 68);

$color-success: rgb(0, 128, 0);
$color-dark-success: rgb(1, 73, 1);
$color-light-success: rgb(69, 216, 69);

$color-warning: rgb(240, 204, 0);
$color-dark-warning: rgb(163, 147, 0);
$color-light-warning: rgb(236, 238, 113);

$color-light: #fff;

$color-grey: #ddd;
$color-grey-2: #eee;
$color-grey-3: #bbb;
$color-grey-4: #aaa;
$color-grey-5: #fafafa;
$color-grey-6: #222;

$color-black: #000;
$color-black-2: rgba(0, 0, 0, 0.918);