.p-a-xs {
    padding: 0.5rem;
}

.p-a-sm {
    padding: 1rem;
}

.p-a-md {
    padding: 2rem;
}

.p-a-lg {
    padding: 3rem;
}

.p-a-xl {
    padding: 4rem;
}

.p-t-xs {
    padding-top: 0.5rem;
}

.p-t-sm {
    padding-top: 1rem;
}

.p-t-md {
    padding-top: 2rem;
}

.p-t-lg {
    padding-top: 3rem;
}

.p-t-xl {
    padding-top: 4rem;
}

.p-b-xs {
    padding-bottom: 0.5rem;
}

.p-b-sm {
    padding-bottom: 1rem;
}

.p-b-md {
    padding-bottom: 2rem;
}

.p-b-lg {
    padding-bottom: 3rem;
}

.p-b-xl {
    padding-bottom: 4rem;
}

.p-r-xs {
    padding-right: 0.5rem;
}

.p-r-sm {
    padding-right: 1rem;
}

.p-r-md {
    padding-right: 2rem;
}

.p-r-lg {
    padding-right: 3rem;
}

.p-r-xl {
    padding-right: 4rem;
}

.p-l-xs {
    padding-left: 0.5rem;
}

.p-l-sm {
    padding-left: 1rem;
}

.p-l-md {
    padding-left: 2rem;
}

.p-l-lg {
    padding-left: 3rem;
}

.p-l-xl {
    padding-left: 4rem;
}