.tooltip {
    position: relative;
    
    &:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        padding: 0.2rem 0.4rem;
        font-weight: 300;
        color: $color-light;
        background-color: $color-black-2;
        border-radius: 4px;
        white-space: nowrap;
    }

    &-top:hover::after {
        top: -.4rem;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    &-bottom:hover::after {
        bottom: -.4rem;
        left: 50%;
        transform: translate(-50%, 100%);
    }

    &-right:hover::after {
        top: 50%;
        right: -.4rem;
        transform: translate(100%, -50%);
    }

    &-left:hover::after {
        top: 50%;
        left: -.4rem;
        transform: translate(-100%, -50%);
    }
}